.bg
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("img/login.gif");
	background-size: cover;
}
.logcontent
{
	height: 600px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.logcontent h1
{
	float: left;
	font-size: 40px;
	border-bottom: 5px solid #33cccc;
	margin: 0px 0px 10px 100px;
	padding: 10px 0;
}
.logcontent h4
{
	float: left;
	font-size: 18px;
	margin: 15px 0px 0px 15px;
}
.logcontent h5
{
	float: left;
	font-size: 18px;
	margin: 3px 0px 5px 85px;
}
.textbox
{
	width: 70%;
	overflow: hidden;
	font-size: 18px;
	padding: 8px 0;
	margin: 10px 0 0 20px;
	border-bottom: 1px solid #33cccc;
}
.textbox input
{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.button
{
	width: 70%;
	background: none;
	border: 2px solid #33cccc;
	color: white;
	padding: 8px 0;
	margin: 8px 0 0 20px;
	font-size: 20px;
	cursor: pointer;
}

.button:active
{
	background: #0d3d6e;
}	
a:link, a:visited
{
	color: #33cccc;
	text-decoration: none;
}
a:hover
{
	color: #338ccc;
	text-decoration: underline;
}
a:active
{
	color: #29e06c;
	text-decoration: underline;
}
